APP_ENV=dev
APP_SECRET=YourSecretKeyChangeMe
APP_SHARE_DIR=var/share
DEFAULT_URI=http://localhost

DATABASE_URL="postgresql://user:password@host:5432/dbname?sslmode=require&serverVersion=18&charset=utf8"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=ChangeMe

APP_BASE_URL=http://127.0.0.1:8000
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

FEDAPAY_SECRET_KEY=sk_sandbox_your_key_here
FEDAPAY_ENV=sandbox
