# Désactive la redirection vers slash final
DirectorySlash Off

<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Ne pas rediriger les requêtes OPTIONS (CORS preflight)
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule .* - [R=200,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>